.list { 
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 600px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 16px;
}

.list__header {
  display: flex;
  justify-content: space-between;
}